NODE_ENV=production
PORT=4000

DATABASE_URL=postgresql://USER:PASSWORD@HOST:6543/postgres
DATABASE_SSL=true
SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY_SECRETA

FRONTEND_ORIGIN=https://TU-SITIO.vercel.app
COOKIE_SECURE=true
REQUIRE_HTTPS=true
SESSION_MINUTES=30
MAX_UPLOAD_MB=25
PASSWORD_RESET_MINUTES=20
JWT_SECRET=CAMBIA_ESTE_SECRETO_LARGO_Y_ALEATORIO
